{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="fullscreen-wrapper vh-100" style="background-color: black; padding: 0; margin: 0;">
        <div class="video-wrapper h-100 d-flex justify-content-center align-items-center">
            <video autoplay muted class="video-element" style="max-width: 120%; max-height: 120%; object-fit: contain;">
                <source src="{{ asset('videos/musi.mp4') }}" type="video/mp4" />
                Tu navegador no soporta el video.
            </video>
        </div>
    </div>
{% endblock %}
