<!-- templates/emails/registration_email.html.twig -->
<h1>¡Bienvenido a nuestro sitio, {{ name }}!</h1>

<p>Gracias por registrarte en nuestro sitio web. Esperamos que disfrutes de tu tiempo aquí.</p>

<p>Por favor, confirma tu correo electrónico usando el siguiente enlace:</p>
<a href="{{ confirmation_url }}">Confirmar mi correo</a>
